{
 "win_x" : 800,
 "win_y" : 600,
 "columns" : [
   {
    "title" : "",
    "url" : "radical.town",
    "token" : null,
    "last_check" : 1459678343,
    "img_only" : false},
   {
    "title" : "",
    "url" : "mastodon.art",
    "token" : null,
    "last_check" : 1459678357,
    "img_only" : false}]
}
