{
 "win_x" : 800,
 "win_y" : 600,
 "columns" : [
   {
    "title" : "",
    "filter" : "radical.town",
    "token" : null,
    "img_only" : false},
   {
    "title" : "",
    "filter" : "mastodon.art",
    "token" : null,
    "img_only" : false}]
}
