{
 "win_x" : 800,
 "win_y" : 600,
 "columns" : [
   {
    "title" : "",
    "url" : "pawoo.net",
    "token" : null,
    "last_check" : 1459678343},
   {
    "title" : "",
    "url" : "mastodon.social",
    "token" : null,
    "last_check" : 1459678357}]
}
