.toot_author_name {
  color: white;
  background-color: #555;
}

.toot_author_url {
  color:white; 
  background-color: #111;
}

.toot_text {
  color: #111;
}

.net_error {
  background-color: red;
}


.column_footer_count { margin: 0 1em; }
.column_config_box { padding: 0 1em }
.column_config_url_label { padding-top: 1em }
.column_config_url_entry {  }
.column_config_remove { margin-top: 1em }

.column_top_label { font-weight: bold; padding: 0.2em 0; }

