.toot_author_name {
  color: white;
  background-color: #555;
}

.toot_author_url {
  color: #aaa;
  background-color: #111;
}

.toot_author_url_minimode {
  color: #aaa;
  background-color: #111;
}
.toot_author_avatar {
  padding: 0.1em;
}

.toot_text {
  color: white;
  font-family: sans-serif;
}

.toot_date { background: #aaa; color: #666; }

.net_error {
  background-color: red;
}


.zootdeck_box {
  background-color: #111;
}
.column_box {
}
.column_top_label { 
  font-weight: bold; 
  padding: 0.2em 0; 
  color: #fff;
}
.column_footer_count { margin: 0 1em; }
.column_config_box { padding: 0 1em }
.column_config_url_label { padding-top: 1em }
.column_config_url_entry {  }
.column_config_remove { margin-top: 1em }


